[submodule "lib/fcitx5/src/main/cpp/fcitx5"]
	path = lib/fcitx5/src/main/cpp/fcitx5
	url = https://github.com/fcitx/fcitx5.git
[submodule "lib/fcitx5/src/main/cpp/prebuilt"]
	path = lib/fcitx5/src/main/cpp/prebuilt
	url = https://github.com/fcitx5-android/prebuilt.git
	shallow = true
[submodule "lib/fcitx5-lua/src/main/cpp/fcitx5-lua"]
	path = lib/fcitx5-lua/src/main/cpp/fcitx5-lua
	url = https://github.com/fcitx/fcitx5-lua.git
[submodule "lib/libime/src/main/cpp/libime"]
	path = lib/libime/src/main/cpp/libime
	url = https://github.com/fcitx/libime.git
[submodule "plugin/hangul/src/main/cpp/fcitx5-hangul"]
	path = plugin/hangul/src/main/cpp/fcitx5-hangul
	url = https://github.com/yunchan8804-blip/fcitx5-hangul.git
